html{
    height: 100%;
}
body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.bs-gray-400{
    background-color: #ccc;
}

#grid-chart {
    height: 301px;
    width: 301px;
    margin-top: 25px;
    background-image:
        repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 60px 60px;
    background-color: #eee;
    position: relative;
}

#grid-chart .robot{
    position: absolute;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5));
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5));
    z-index: 1;
}

#grid-chart .robot.initial-location{
}

#grid-chart .robot.change-location{
}
.robot.north{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;  
}

.robot.east{
    border-top: 10px solid transparent;
    border-left: 20px solid red;
    border-bottom: 10px solid transparent;  
}
.robot.south{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;  
}
.robot.west{
    border-top: 10px solid transparent;
    border-right: 20px solid red;
    border-bottom: 10px solid transparent;  
}

.change-location::before{
    content: "";
    border:1px solid blue;
    position: absolute;
    z-index: -1;

}

.change-location.east::before{
    width: 44px;
    left: -64px;
}
.change-location.west::before{
    width: 45px;
    right: -65px;
}
.change-location.north::before{
    height: 45px;
    top: 20px;
    left: -1px;
}
.change-location.south::before{
    height: 40px;
    bottom: 22px;
    left: -1px;
}

.robot.finial-location.north{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid greenyellow;  
}
.robot.finial-location.east{
    border-top: 10px solid transparent;
    border-left: 20px solid greenyellow;
    border-bottom: 10px solid transparent;  
}
.robot.finial-location.south{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid greenyellow;  
}
.robot.finial-location.west{
    border-top: 10px solid transparent;
    border-right: 20px solid greenyellow;
    border-bottom: 10px solid transparent;  
}

.output{
    display: inline-block;
}

.output .robot{
    float: right;
    margin-left: 8px;
    margin-top: 2px;
}
